<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<div class="container">
    <div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
            <br><br>
            <h2 style="color:#0fad00">Success</h2>
            <img src="https://img.icons8.com/flat_round/64/000000/checkmark.png"/>
            <h3>{{ name }}</h3>
            <p style="font-size:20px;color:#5C5C5C;">{{ message }}</p>
            <a href="https://wirvsvirus.kyuan.de/faq/" class="btn btn-success" {{ button_style }}> Hier geht's zu unserem FAQ</a>
            <br><br>
        </div>

    </div>
</div>
</html>